body {
    background: #f54744; /* Red background */
}

.text-center {
    text-align: center;
}

a {
    color: #f54744;
    transition: all 0.3s linear;
}

a:hover,
a:focus {
    color: #00755d;
    transition: all 0.3s linear;
}

.main-button {
    cursor: pointer;
    background: #ffffff; /* White button background */
    width: 100%;
    border: 2px solid #ffffff; /* White border */
    padding: 10px 15px;
    color: #f54744; /* Red text color */
    font-size: 20px;
    transition: 0.3s linear;
}

.main-button:hover {
    background: #00755d; /* Dark green hover color */
    color: #ffffff; /* White text on hover */
}
